<div>
  <h1 class="contacts-title">Contacts</h1>
  <div class="add-contact-link">
    <%= link_to 'Add Contact', new_contact_path %>
  </div>
  <div  class="contact-div">
    <% @contacts.each do |contact| %>
      <%= render partial: "contact", locals: { contact: contact } %>
    <% end %>
  </div>
</div>
