<div>
  <h1 class="contacts-title">Contacts</h1>
  <div class="contact-div">
    <table style="width: 80%">
      <tr class="border_bottom">
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>
      <% @contacts.each do |contact| %>
        <%= render partial: "contact", locals: { contact: contact } %>
      <% end %>
    </table>
  </div>
</div>
