.new-contact-card {
  border: 1px rgb(196, 200, 199) solid;
  width: 390px;
  height: 320px;
  text-align: center;
  margin: auto;
  background-color: rgb(196, 200, 199);
  padding-top: 80px;
  border-radius: 4px;
  box-shadow: 4px 8px rgb(58, 56, 56);
}

.new-contact-title {
  text-align: center;
  padding: 20px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 40px;
}

.errors-div {
 text-align: center;
 margin: 20px;
}

#error_explanation {
  border: 1px solid rgb(238, 169, 169);
  background-color: rgb(238, 169, 169);
  color: rgb(158, 5, 5);
  padding-top: 20px;
  padding-left: 18px;
  padding-right: 18px;
  width: 500px;
  margin: auto;
  padding-bottom: 18px;
  text-align: left;
  font-size: 12px;
  border-radius: 4px;
}

.errors {
  border: 1px solid rgb(238, 169, 169);
  background-color: rgb(238, 169, 169);
  color: rgb(158, 5, 5);
  padding-top: 20px;
  width: 400px;
  margin: auto;
  padding-bottom: 18px;
  text-align: left;
  font-size: 12px;
  border-radius: 4px;
}

.field_with_errors {
  display: inline;
}

.btn-primary {
  background-color: rgb(82, 211, 82);
  border-radius: 4px;
  font-size: 14px;
  padding: 6px 13px;
  margin-top: 14px;
  border-radius: 12px;
}

.btn-primary:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}

.btn-secondary {
  background-color: rgb(248, 115, 115);
  border-radius: 4px;
  font-size: 14px;
  padding: 6px 13px;
  margin-top: 14px;
  border-radius: 12px;
}

.btn-secondary:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.btn-third {
  background-color: rgb(232, 237, 243);
  border-radius: 4px;
  font-size: 14px;
  padding: 6px 13px;
  margin-top: 14px;
  border-radius: 12px;
}

.btn-third:hover {
  background-color: rgb(105, 135, 165);
  color: white;
  cursor: pointer;
}

.contact-div table {
  margin: 18px auto;
  border-collapse: collapse;
}

.contact-div th, td {
  padding: 18px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-head {
  background-color: rgb(214, 251, 214)!important;
  color: black;
}

.add-contact-link {
  text-align: center
}

.contacts-title {
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  font-size: 60px;
}

.no-link {
  text-decoration: none;
  color: black;
}

.edit-title {
  text-align: center;
  padding: 20px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 40px;
}

.navbar-link {
  text-decoration: none;
  color: black;
  padding-right: 10px;
  font-size: 14px;
}

.navbar-link:hover {
  color: green;
}

.navbar {
  text-align: right;
  margin: 26px auto;
  width: 90%;
}

.edit-button {
  background-color: #e7e7e7;
  color: black;
  font-size: 14px;
  padding: 2px 10px;
  border-radius: 4px;
}

.edit-button:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

.back-link {
  text-decoration: none;
  color: rgb(22, 22, 236);
  font-size: 14px;
}

.back-link:hover {
  color: rgb(4, 26, 153)
}

.delete-link:hover {
  color: black;
}

.input-group {
  text-align: right;
}

.search-input {
  width: 200px;
  height: 30px;
  border: rgb(117, 113, 113) solid 1px;
  border-radius: 4px;
  font-size: 14px;
}

.search-button {
  text-decoration: none;
  color: black;
  font-size: 14px;
  background-color: rgb(82, 211, 82);
  border-radius: 4px;
  margin-right: 20px;
  padding: 6px;
}

.search-button:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}

.alert {
  border: 1px solid rgb(233, 210, 181);
  background-color: rgb(233, 210, 181);
  color: rgb(70, 7, 7);
  padding: 18px 8px;
  width: 380px;
  margin: 26px auto;
  padding-bottom: 18px;
  text-align: center;
  font-size: 18px;
  border-radius: 4px;
}

* {
  font-family: "Lucida Grande";
 }

tr:nth-child(odd){
  background-color: lightgrey;
}

.login-container {
  padding-top: 10px;
  margin: 60px auto;
  width: 500px;
  height: 560px;
  background-color: rgb(214, 211, 211);
}

.login-title {
  font-size: 35px;
  margin-top: 30px;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  font-size: 40px;
}

.login-hr {
  border: 1px solid grey;
  width: 400px;
}

.field {
  margin: 20px auto;
  font-size: 18px;
  text-align: left;
  padding-left: 100px;
}

.user-edit-field {
  font-size: 15px;
}

.field label {
  font-size: 15px;
}

.input-small {
  width: 300px;
  height: 30px;
  font-size: 15px;
}

.additional-links {
  text-align: center;
  margin: 20px auto;
}

.additional-links a {
  text-decoration: none;
  color: rgb(20, 61, 245);
}

.actions {
  text-align: center;
}

.welcome-page {
  background-color: rgb(214, 251, 214);
  height: 900px;
  margin: none;
  text-align: center;
}

.welcome-page h2 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 40px;
  margin-bottom: 6px;
  margin-top: 30px;
}

.welcome-title {
  padding-top: 200px;
  padding-bottom: 100px;
  font-size: 80px;
  font-family: 'Cabin Sketch', cursive;
  letter-spacing: 3px;
  margin: 0;
}

.new-edit-user-container {
  padding-top: 10px;
  margin: 60px auto;
  width: 500px;
  height: 700px;
  background-color: rgb(214, 211, 211);
}
