.new-contact-div {
  padding-top: 60px;
}

.new-contact-card {
  border: 1px rgb(196, 200, 199) solid;
  width: 360px;
  height: 260px;
  text-align: center;
  margin: auto;
  background-color: rgb(196, 200, 199);
  padding-top: 80px;
}

.new-contact-title {
  text-align: center;
  padding: 20px;
}

.form {
  text-align: center;
  margin: 20px auto;
}

.form-field {
  margin-bottom: 20px;
}

.form-field-label {
  font-size: 16px;
  padding: 7px;
}

.form-field .w-input {
  font-size: 15px;
  padding: 4px;
}

.errors-div {
 text-align: center
}

.errors {
  width: 300px;
  margin: auto;
  padding-bottom: 18px;
  text-align: left;
}

.field_with_errors {
  display: inline;
}

.btn-primary {
  margin: 12px;
  background-color: green;
  border-radius: 3px;
  font-size: 16px;
  padding: 6px
}

.contact-div table {
  margin: 18px auto;
  border-collapse: collapse;
}

.contact-div th, td {
  padding: 18px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.contact-card {
  border: 1px black solid;
  width: 160px;
  height: 160px;
  margin: 20px auto;
  text-align: center;
}

.add-contact-link {
  text-align: center
}

.contacts-title {
  text-align: center;
}

.no-link {
  text-decoration: none;
  color: black;
}

.edit-title {
  text-align: center;
}

.edit-contact-div {
  padding-top: 60px;
}

.add-link {
  text-decoration: none;
  color: black;
  padding: 40px;
  font-size: 20px;
}

.add-link:hover {
  color: green;
}

.nav-bar {
  text-align: right;
  margin: 30px auto;
}
