// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'Delicious';
  src: url('/assets/Delicious-Roman.otf');
}

@font-face {
  font-family: 'Delicious';
  font-weight: bold;
  src: url('/assets/Delicious-Bold.otf');
}
